<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sgpublic.aidescit">
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" /> -->
    <!-- <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" /> -->
    <!-- <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" /> -->
    <!-- <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" /> -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name="com.sgpublic.aidescit.Application"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name="com.sgpublic.aidescit.activity.PrivacySetting" />
        <activity android:name="com.sgpublic.aidescit.activity.MyInfo" />
        <activity android:name="com.sgpublic.aidescit.activity.Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sgpublic.aidescit.activity.Main" />
        <activity android:name="com.sgpublic.aidescit.activity.Login" />
        <activity android:name="com.sgpublic.aidescit.activity.Achievement" />
        <activity android:name="com.sgpublic.aidescit.activity.About" />
        <activity android:name="com.sgpublic.aidescit.activity.Exam" />
        <activity android:name="com.sgpublic.aidescit.activity.Notices" />
        <activity android:name="com.sgpublic.aidescit.activity.Evaluate" />
        <activity android:name="com.sgpublic.aidescit.activity.License" />
        <activity android:name="com.sgpublic.aidescit.activity.WebView" />
        <!-- 魅族push应用定义消息receiver声明 -->
        <!-- <receiver -->
        <!-- android:name="com.sgpublic.tool.base.MeizuReceiver" -->
        <!-- tools:ignore="ExportedReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.meizu.flyme.push.intent.MESSAGE" /> -->
        <!-- <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" /> -->
        <!-- <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" /> -->
        <!-- <action android:name="com.meizu.c2dm.intent.REGISTRATION" /> -->
        <!-- <action android:name="com.meizu.c2dm.intent.RECEIVE" /> -->
        <!-- <category android:name="com.sgpublic.cgk.tool" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
    </application>

</manifest>